extends layout
block headtitle
  h2 Photo
block content
  .wrapper
    main.container
      section.p_info
        header
          h2= photo.title
          p= `${photo.date.getFullYear()}. ${(photo.date.getMonth()+1).toString().padStart(2,"0")}. ${photo.date.getDate().toString().padStart(2,"0")}`
        p= photo.description
      section.gallery
        .popup-gallery.detail
          -for (source_url of photo.images)
            a.image(href=`/images/${source_url}`)
              img(src=`/images/${source_url}`)
      section.btn_box.admin
        button.edit_btn(onclick=`location.href='/photo/edit/${photo._id}'`) 수정
        button.delete_btn(onclick=`location.href='/photo/delete/${photo._id}'`) 삭제
      section.back
        input(type='button' value='돌아가기' onclick='history.back(-1);')