extends layout
block headtitle
  h2 Photo
block content
  .wrapper
    main.container
      nav.sub_menu
        ul
          li
            a.on(href="/photo/2020") 2020
          li
            a(href="/photo/2019") 2019
          li
            a(href="/photo/2018") 2018
          li
            a(href="/photo/pre") 이전
      section.content
        ul.thumbnail
          each photo in photos
            li
              a(href="/photo/detail/"+photo._id)
                img(src=`images/${photo.images[0]}` alt=photo.description)
                h4.thumbnail_title= photo.title
                p.thumbnail_date= `${photo.date.getFullYear()}. ${(photo.date.getMonth()+1).toString().padStart(2,"0")}. ${photo.date.getDate().toString().padStart(2,"0")}`
      section.btn_box.admin
        button.add_btn(onclick="location.href='/photo/upload'") 사진추가
      //- section.paging
      //-   ol.paging_btn
      //-     li.first_page
      //-       a(href="#")
      //-         i.fas.fa-angle-double-left
      //-     li.prev_page
      //-       a(href="#")
      //-         i.fas.fa-angle-left
      //-     - let num = 3
      //-     each i in [num-2,num-1,num,num+1,num+2]
      //-       if (i != num)
      //-         li
      //-           a(href="")= i
      //-       else
      //-         li.page_on
      //-           a(href="")= i
      //-     li.next_page
      //-       a(href="#")
      //-         i.fas.fa-angle-right
      //-     li.last_page
      //-       a(href="#")
      //-         i.fas.fa-angle-double-right