extends layout
block headtitle
  h2 Project
block content
  .wrapper
    main.container
      
      nav.sub_menu
        ul
          li
            a.on(href="#") 국책과제
          li
            a(href="#") 산학과제
          li
            a(href="#") 내부과제
      
      section.content
        table.p_content
          thead
            tr
              th Korean Title
              th English Title
              th Date
          tbody
            each pro in project
              tr
                td= pro.kr
                td= pro.eng
                td= `[${pro.date_start.getFullYear()}.${pro.date_start.getMonth()+1}~${pro.date_end.getFullYear()}.${pro.date_end.getMonth()+1}]`  
    if currentUser
      section.btn_box.admin
        button.btn(onclick="location.href='/project/update'") 과제 업로드