extends layout
block headtitle
  h2 Publication
block content
  .wrapper
    main.container
      section.pub_info
        header
          p 국내학술지자료
          h2= publication.title_kr
          h3= publication.title_en
        main
          .pub_info_box
            .pub_info_text
              .pub_title=  publication.author
              .pub_journal=  publication.journal
              .pub_date=  `${publication.date.getFullYear()}. ${(publication.date.getMonth()+1).toString().padStart(2,"0")}`
            .pub_download
              a(href= '../'+publication.paper_url target='_blank')
                i.fas.fa-file-download.fa-2x
                span 다운로드
          .pub_abstract
            h3 초록
            hr
            span=  publication.abstract
            hr
      if currentUser
        section.btn_box.admin
          button.edit_btn(onclick=`location.href='/publication/edit/${publication._id}'`) 수정
          button.delete_btn(onclick=`location.href='/publication/delete/${publication._id}'`) 삭제
      section.back
        input(type='button' value='돌아가기' onclick='history.back(-1);')